<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>index</title>
    {% load static %} <link href="{% static "core/css/bootstrap.min.css" %}" rel="stylesheet">
    
</head>
<body>

    <nav class="navbar navbar-expand-lg navbar-dark bg-dark">
        nbps nbps nbps
        <a href="" class="navbar-logo h1 text-success" style="text-decoration:none">BlassaBlassa</a> 
          
        
        <div class="collapse navbar-collapse" id="slashes" style="position: absolute;left:35%">
          <ul class="navbar-nav mr-auto" >
            <li class="nav-item active">
              <a class="nav-link text-success" href="/core/register" >Get Started </a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/covoiturage/wantProp">Find ride</a>
            </li>
            <li class="nav-item">
              <a class="nav-link" href="/covoiturage/FAQ">Ask Me</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/covoiturage/aboutUs">About</a>
              </li>
          </ul>
          <button class="btnnn bg-success" ><a class="text-white" style="text-decoration:none ;" href="/core/login">Login</a></button>
          nbps nbps nbps
          
        <form class="form-inline my-2 my-lg-0" style="display: flex;
        align-items: center;">
            <input class="form-control " type="search" placeholder="Search" aria-label="Search">
            <button class="btn btn-outline-success " type="submit" >Search</button>
        </form>
          
        </div>
      </nav>

    
    {% load static %} <img src="{% static "core/media/hero.svg" %}" alt="home" />
    
    
    {% load static %} <script src="{% static "core/js/bootstrap.bundle.min.js" %}" ></script>
</body>
</html>

