<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <title>Document</title>
</head>
<body>
    <h1>This is my profile</h1>
    <button><a href="/core/update_profile">modifier le profil</a></button>
    <div>{{info.first_name}}</div>
    <div>{{info.last_name}}</div>
    <img src="{{info.profile_pic}}" alt="">
    <div>{{info.email}}</div>
    <p>{{info.description}}</p>
    <div>{{info.number}}</div>


</body>
</html>