<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script> 
    <title>Document</title>
</head>
<body>
    <h1>This is a profile</h1>
    <div>{{info.first_name}}</div>
    <div>{{info.last_name}}</div>
    <img src="{{info.profile_pic}}" alt="">
    <div>{{info.email}}</div>
    <p>{{info.description}}</p>
    <div>{{info.number}}</div>
    {% if voiture.modele %}
        <div>{{voiture.modele}}</div>
    {% endif %}
    {% if voiture.marque %}
        <div>{{voiture.marque}}</div>
    {% endif %}
    {% if voiture.voiture_pic %}
        <img src="{{voiture.voiture_pic}}" alt="">
    {% endif %}

    <h5>Retours</h5>
    {% for cmnt in commnts%}
        <img src="{{ cmnt.img }}" alt="" style="width: 40px; height:40px">
        <div>{{ cmnt.name }}</div> 
        <div>{{ cmnt.rating }}</div>
        <div>{{ cmnt.description }}</div>
    {% endfor %}
    


</body>
</html>